:root {
    --myWhite: rgb(245, 241, 234);
    --myPurple: rgb(217, 151, 243);
}

body {
    margin: 0;
    font-family: 'Laila', sans-serif;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:
        url(/MartynaGontarzIMG/laptok.jpg);
        background-position: top right;
        height: 400px;
    color: var(--myWhite);
    
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
    font-size: 1.5em;
}    

.name {
    color: var(--myPurple);
}

.welcome h1, h3, h5 {
    margin: 0;
}

.menu-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
    color: white;
    font-weight: 600;
    width: 600px;
    height: 100%;
    background-color: rgba(107, 0, 150, 0.7);
}

.main-photo {
    background-image: url(MartynaGontarzIMG/modlicha.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 50%;
    /* border: solid rgb(130, 73, 153) 1px; */
    margin-left: -100px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 30px;
}

.links {
    border-bottom: 1px solid var(--myWhite);
    padding-left: 20px;
}

.icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons p{
    font-size: 1.5em;
    grid-area: p;
}

.button1 {
    border-radius: 100px;
    background-color: var(--myPurple);
    color: var(--myWhite);
    text-align: center;
    font-size: 18px;
    border: none;
}

.button2 {
    border-radius: 100px;
    background-color: var(--myWhite);
    border: 2px solid var(--myPurple);
    color: var(--myPurple);
    text-align: center;
    font-size: 18px;
 }