:root {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #D2E1F4;
    font-family: PT Sans;
    color: rgb(45, 49, 66);
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #AF0A94;
}

ul {
    list-style-type: none;
}

/* STYLES FOR THE HEADER */

.header {
    position: relative;
    display: block;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 85vh;
    min-height: 700px;
    width: 100%;
    color: white;
    
}

.navigation {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 1% 1.5%;
    font-size: 1rem;
    background-color: rgba(18, 55, 70, 0.5);
}

.navigation__item {
    padding: 0.5% 2%;
    white-space: nowrap;
}

.last-item {
    margin-right: 1.5rem;
}

.header__intro {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

.intro__greeting {
    display: flex;
}

.greeting__text {
    align-self: center;
    white-space: nowrap;
    background-color: rgba(18, 55, 70, 0.7);
    padding: 7%;
    border-radius: 5%;
}

.greeting__hi {
    font-size: 4rem;
    margin: 0;  
}

.greeting__name {
    font-size: 1.5rem;
    margin: 0;
}

.intro__portrait {
    width: 200px;
    height: 200px;
    border: 20px solid rgba(18, 55, 70, 0.7);
    border-radius: 50%;
}

.header__socials--container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8vh;
}

.header__socials {
    background-color: rgba(18, 55, 70, 0.5);
    border-radius: 5%;
    margin-right: 1%;
    padding: 0 2%;

}

.socials__paragraph {
    white-space: nowrap;
}

.socials__links {
    padding: 0;
}

.links__github, 
.links__linkedin {
    display: inline;
    padding: 7%;
}

.fab {
    font-size: 1.5rem;
}

.invite {
    padding: 2%;
    background-color: white;
    box-sizing: border-box;
}

.invite__text {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

.invite__buttons {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.invite__button {
    box-sizing: border-box;
    font-family : inherit;
    font-size : 100%;
    margin: 1%;
    width: fit-content;
    padding: 1% 1.5%;
    border-radius: 5%;
    border: 4px solid #AF0A94;
    color: #AF0A94;
    font-weight: bold;
    white-space: nowrap;

}

.invite__button:hover {
    background-color: #AF0A94;
    color: white;
}


/* STYLES FOR SECTION HEADERS */

.skills__header, 
.about__header, 
.gallery__header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2.5rem;
    font-weight: normal;
    color: #028090;
}

.gallery__header {
    padding-bottom: 0;
}

/* STYLES FOR THE ABOUT ME SECTION */

.about-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 10%;
}

.about-container__contact-data {
    flex: 1 1;
    box-sizing: border-box;
    background-color: white;
    max-width: 40%;
    font-weight: bold;
    line-height: 2;
    vertical-align: middle;
    padding: 4%;
    margin: 0 auto;
}

.about-container__description {
    flex: 1 1;
    max-width: 60%;
    text-align: justify;
    box-sizing: border-box;
    background-color: white;
    padding: 4%;
    margin: 0 auto;
}

.about-container__contact-data span {
    color: #028090
}


/* STYLES FOR THE SKILLS ME SECTION */

.skills-container {
    display: flex;
    box-sizing: border-box;
    margin: 0 10%;
    justify-content: space-between;
    align-content: center;
}

.skills-container__hard-skills,
.skills-container__soft-skills {
    flex: 1 1;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    max-width: 48%;
    background-color: white;
}

.hard-skills__header, .soft-skills__header {
    padding-left: 40px;
}

.hard-skills__list {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.skills__list--level {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0.7rem;
    width: 90%;
    background: linear-gradient(90deg, #AF0A94 0%, rgb(209, 144, 198) 100%);
    border-radius: 20px;
}


/* STYLES FOR THE GALLERY */

.gallery__intro {
    display: flex;
    justify-content: center;
    margin: 1% 5%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.6);
}

.gallery__photos {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 15px;
    width: auto;
    margin: 0 5%;
    
}

.photos__screen {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* STYLES FOR THE CONTACT FORM */

.contact {
    display: flex;
    background-color: white;
    margin-top: 5%;
}

.contact-form {
    display: flex;
    margin: 5% 5%;
    background-color: #D2E1F4;
    box-sizing: border-box;
}

.contact-form__left-side {
    max-width: 30%;
    padding: 3%;
    background-color: #028090;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side__socials {
    flex: 1 1 1;
    align-self: flex-end;
    padding: 0;
}

.socials__github,
.socials__linkedin {
    display: inline;

}

.contact-form__right-side {
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 65%;
    
}

.right-side__header {
    color: #028090;
}

.form__name, 
.form__title,
.form__message,
.form__email {
    flex: 1 1;
    width: 100%;
    border: none;
    background: none;
    margin-top: 3%;
    padding: 1%;
    border-bottom: 1px solid rgba(45, 49, 66, 1);
    box-sizing: border-box;
    font-family : inherit;
    font-size : 100%;

}
.form__message {
    height: 8rem;
    padding: 1%;
    margin-top: 7%;
}

.form__submit {
    display: flex;
    justify-content: flex-end;
}

.submit__button {
    box-sizing: border-box;
    font-family : inherit;
    font-size : 100%;
    margin: 3% 0;
    width: fit-content;
    padding: 1% 1.5%;
    border-radius: 5%;
    border: 4px solid #AF0A94;
    color: #AF0A94;
    background-color: #D2E1F4;
    font-weight: bold;
}

.submit__button:hover {
    background-color: #AF0A94;
    color: white;
    font-weight: normal;
}

input:focus,
textarea:focus {
    border: 1px solid #AF0A94;
    box-shadow: 0 0 3px #AF0A94;
}

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px;
    outline: none;
}

.footer__paragraph {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
}

.fa-heart {
    margin: 0 1%;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    :root {
        font-size: 16px;
    }

    .header {
        min-height: 500px;
        max-height: 600px;
    }
    .navigation {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .header__intro {
        margin-top: 10vh;
    }

    .intro__portrait {
        width: 150px;
        height: 150px;
        order: -1;
        margin: 7%;
        align-self: center;
    }

    .intro__greeting {
        flex-direction: column;
        justify-items: center;
    }

    .greeting__hi {
        font-size: 3.5rem;
    }

    .invite__text {
        font-size: 1.5rem;
        text-align: center;
    }
    .header__socials--container {
        display: none;
    }
    .about-container {
        flex-direction: column;
    }

    .about-container__contact-data,
    .about-container__description {
        max-width: 100%;
        width: 100%;
    }

    .about-container__contact-data {
        border-bottom: 2px solid #028090;
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-container__hard-skills,
    .skills-container__soft-skills {
        max-width: 100%;
    }

    .skills-container__soft-skills {
        margin-top: 3%;
    }

    .gallery__photos {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .contact-form {
         flex-direction: column;
     }

    .contact-form__left-side {
         order: -1;
         max-width: 100%;
         border-bottom: 2px solid white;
     }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    :root {
        font-size: 16px;
    }

    .navigation {
    font-size: 1.2rem;
    }

    .header__socials--container { 
        margin-top: 15%;
    }

    .about-container {
        flex-direction: column;
    }

    .about-container__contact-data,
    .about-container__description {
        max-width: 100%;
        width: 100%;
    }

    .about-container__contact-data {
        border-bottom: 2px solid #028090;
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-container__hard-skills,
    .skills-container__soft-skills {
        max-width: 100%;
    }

    .skills-container__soft-skills {
        margin-top: 3%;
    }

    .gallery__photos {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .contact-form {
        flex-direction: column;
    }

    .contact-form__left-side {
        order: -1;
        max-width: 100%;
        border-bottom: 2px solid white;
    }
   
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
   :root {
       font-size: 18px;
   }

   .gallery__photos {
       grid-template-columns: repeat(2, minmax(0, 1fr));
   }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    :root {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        font-size: 20px;
    }
}